@model List<HanCharacterModel>

<div class="text-center">
    <h1 class="display-4">Han Character List</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="justify-content-end" style="display:flex;">
            <a class="btn btn-info m-2" asp-action="GetDocument">Document</a>
            <a class="btn btn-primary m-2" asp-action="Create">Create a new Character</a>
        </div>
    </div>
</div>

<div class="table-responsive mt-5">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="fw-bold text-center text-white bg-secondary">
                <td><p>Literal</p></td>
                <td><p>TraditionalClassification</p></td>
                <td><p>Radicals</p></td>
                <td><p>StrokeCount</p></td>
                <td><p>Kangxi</p></td>
                <td style="width:50px;"><p>Kanji</p></td>
                <td><p>Hanja</p></td>
                <td><p>Hán tự</p></td>
            </tr>
        </thead>
        <tbody>
            @foreach (HanCharacterModel hanCharacter in @Model)
            {
                <tr ondblclick="location.href='@Url.Action("Edit", new { literal = hanCharacter.Literal })'">
                    <td class="text-center fw-bold text-success">@hanCharacter.Literal</td>
                    <td>@hanCharacter.TraditionalClassification?.TypeName</td>
                    <td class="text-truncate text-nowrap">@hanCharacter.Radicals.ToJson()</td>
                    <td>@hanCharacter.StrokeCount</td>
                    <td class="text-truncate text-nowrap">@hanCharacter.Kangxi.ToJson()</td>
                    <td class="text-truncate text-nowrap">@hanCharacter.Kanji.ToJson()</td>
                    <td class="text-truncate text-nowrap">@hanCharacter.Hanja.ToJson()</td>
                    <td class="text-truncate text-nowrap">@hanCharacter.HanTu.ToJson()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
